body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(179, 223, 239);
    background-image:  url('../img/j.png');

}

h1 {
    color: #0e0d0d;
}

p {
    color: #ffffff;
}

label {
    color: #ffffff;
    /* Color blanco para los elementos label */
    font-weight: bold;
}
h2 {
    font-weight: bold; 
    color: #ffffff;
}