<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Final</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Script de Datepicker (CDN) -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="{{ url_for('static', filename='js/validacion.js') }}"></script>

    <script src="{{ url_for('static', filename='js/cargar.js') }}"></script>


</head>
<header>
    <nav class="navbar navbar-light  bg-info">
        <a class="navbar-brand mx-auto" href="#">
            <img src="{{ url_for('static', filename='img/red.jpg') }}" width="30" height="30"
                class="d-inline-block align-top" alt="">
            Proyecto de Inteligencia de Negocios
        </a>
    </nav>
</header>

<body onload="loaded()">
    <div class="container mt-4 text-center">
        <h2>Formulario de Predicción</h2>
    </div>

    <div class="container-fluid">
        <div class="row">

            <div class="col">
                <form id="formularioPrediccion" action="/resultados" method="post" onsubmit="enviarFormulario(event)">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="nomb_producto">Nombre producto:</label>
                                        <input type="text" class="form-control" id="nomb_producto" name="nomb_producto"
                                            placeholder="Nombre producto" oninput="validarSoloLetras(this)">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="clase_producto">Clase producto:</label>
                                        <select class="form-control" id="clase_producto" name="clase_producto">
                                            <option value="1">Seleccionar</option>
                                            <option value="2">Deluxe</option>
                                            <option value="3">Economia</option>
                                            <option value="4">Normal</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="nombre_marca">Nombre Marca:</label>
                                        <select id="nombre_marca" class="form-control" name="nombre_marca">

                                            <option value="1">Contoso</option>
                                            <option value="2">litware</option>
                                            <option value="3">Northwind Traders</option>
                                            <option value="4">Southridge Toys</option>
                                            <option value="5">Tailspin Toys</option>
                                            <option value="6">The Phone Company</option>
                                            <option value="7">Wide World importers</option>
                                        </select>
                                    </div>
                                    <!--<div class="form-group col-md-6">
                                        <label for="color_producto">Color Producto:</label>
                                        <select id="color_producto" class="form-control" name="color_producto">
                                            <option selected>Color producto...</option>
                                            <option value="1">Amarillo</option>
                                            <option value="2">Azul</option>
                                            <option value="3">Blanco</option>
                                            <option value="4">Gtis</option>
                                            <option value="5">Marron</option>
                                            <option value="6">Negro</option>
                                            <option value="7">Oro</option>
                                            <option value="8">Plata</option>
                                            <option value="9">Red</option>
                                            <option value="10">Rosa</option>
                                            <option value="11">Verde</option>

                                        </select>
                                    </div>-->
                                    <div class="form-group col-md-6">
                                        <label for="Stock">Estado Stock:</label>
                                        <select id="estado_stock" class="form-control" name="estado_stock">
                                            <option selected>Stock...</option>
                                            <option value="0">Medio</option>
                                            <option value="1">alto</option>
                                            <option value="2">bajo</option>
                                        </select>
                                    </div>
                                    <!-- 
                                    <div class="form-group col-md-6">
                                        <label for="cant_descuento">Cantidad de Descuento:</label>
                                        <input type="number" class="form-control" id="cant_descuento"
                                            name="cant_descuento" oninput="validarSoloNumeros(this)">

                                    </div>
                                -->
                                    <div class="form-group col-md-6">
                                        <label for="monto_devolucion">Monto Devolucion</label>
                                        <input type="number" class="form-control" id="monto_devolucion"
                                            name="monto_devolucion" oninput="validarSoloNumeros(this)">
                                    </div>
                                    <!-- 
                                    <div class="form-group col-md-6">
                                        <label for="cantidad_venta">Cantidad de Venta</label>
                                        <input type="number" class="form-control" id="cantidad_venta"
                                            name="cantidad_venta" oninput="validarSoloNumeros(this)">
                                    </div>
                                -->
                                    <div class="form-group col-md-6">
                                        <label for="canal">Canal:</label>
                                        <input type="text" name="canal" class="form-control" id="canal"
                                            placeholder="Canal.." oninput="validarSoloLetras(this)">
                                    </div>
                                    <!--<div class="form-group col-md-6">
                                        <label for="nombre_tienda">Nombre Tienda:</label>
                                        <select id="nombre_tienda" class="form-control" name="nombre_tienda">

                                        </select>
                                    </div>-->

                                    <div class="form-group col-md-6">
                                        <label for="ocupacion_cliente">Ocupacion Cliente:</label>
                                        <select id="ocupacion_cliente" class="form-control" name="ocupacion_cliente">

                                        </select>
                                    </div>
                                    <!-- 
                                    <div class="form-group col-md-6">
                                        <label for="hijos_en_casa">Hijos en casa:</label>
                                        <input type="text" class="form-control" id="hijos_en_casa" name="hijos_en_casa"
                                            oninput="validarSoloNumeros(this)">
                                    </div>
                                -->
                                    <div class="form-group col-md-6">
                                        <label for="total_hijos">Total hijos en casa:</label>
                                        <input type="text" class="form-control" id="total_hijos" name="total_hijos"
                                            oninput="validarSoloNumeros(this)">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="numero_autos">Numero Autos:</label>
                                        <input type="number" class="form-control" id="numero_autos" name="numero_autos"
                                            oninput="validarSoloNumeros(this)">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="ingresos_anuales">ingresos Anuales:</label>
                                        <input type="text" class="form-control" id="ingresos_anuales"
                                            name="ingresos_anuales" oninput="validarSoloNumerosCos(this)">

                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="tipo_promocion">Tipo promocion:</label>
                                        <input type="text" oninput="validarSoloLetras(this)" class="form-control"
                                            id="tipo_promocion" name="tipo_promocion">

                                    </div>
                                    <!-- 
                                        <div class="form-group col-md-6">
                                        <label for="Ciudad">Ciudad:</label>
                                        <input type="text" oninput="validarSoloLetras(this)" class="form-control"
                                            id="Ciudad" name="Ciudad">

                                    </div>
                                    -->


                                    <div class="form-group">
                                        <label for="fechaSelector">Fecha:</label>
                                        <input type="text" class="form-control" id="fechaSelector" name="fechaSelector"
                                            readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="costo_unitario">Costo Unitario:</label>
                                        <input type="text" class="form-control" id="costo_unitario" placeholder="$"
                                            oninput="validarSoloNumerosCos(this)" name="costo_unitario">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="precio_unitario">Precio Unitario:</label>
                                        <input type="text" class="form-control" id="precio_unitario" placeholder="$"
                                            oninput="validarSoloNumerosCos(this)">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="subcategoria">Subcategoria:</label>
                                        <select id="subcategoria" class="form-control" name="subcategoria">


                                        </select>
                                    </div>
                                    <!-- 
                                    <div class="form-group col-md-6">
                                        <label for="peso_producto">Peso Producto</label>
                                        <input type="text" name="peso_producto" class="form-control" id="peso_producto"
                                            placeholder="(kg)" oninput="validarSoloNumerosCos(this)">
                                    </div>
                                -->
                                    <div class="form-group col-md-6">
                                        <label for="monto_descuento">Monto Descuento</label>
                                        <input type="text" class="form-control" id="monto_descuento"
                                            oninput="validarSoloNumerosCos(this)" name="monto_descuento">
                                    </div>
                                    <!-- 
                                    <div class="form-group col-md-6">
                                        <label for="cantidad_devolucion">Cantidad de Devolucion</label>
                                        <input type="number" class="form-control" id="cantidad_devolucion"
                                            oninput="validarSoloNumeros(this)">
                                    </div>
                                -->
                                    <div class="form-group col-md-6">
                                        <label for="Venta_total">Venta Total</label>
                                        <input type="text" name="Venta_total" class="form-control" id="Venta_total"
                                            oninput="validarSoloNumerosCos(this)">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="ganancia">Ganancias</label>
                                        <input type="text" name="ganancia" class="form-control" id="ganancia"
                                            oninput="validarSoloNumerosCos(this)">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="estado_civil">Estado Civil:</label>

                                        <select class="form-control" id="estado_civil" name="estado_civil">
                                            <option value="0">Soltero</option>
                                            <option value="1">Casado</option>
                                            <option value="2">Divorciado</option>
                                            <option value="3">Viudo</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="genero_cliente">Género:</label>
                                        <select class="form-control" id="genero_cliente" name="genero_cliente">
                                            <option value="1">Masculino</option>
                                            <option value="0">Femenino</option>
                                        </select>

                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="educacion_cliente">Educacion Cliente:</label>
                                        <input type="text" class="form-control" id="educacion_cliente"
                                            oninput="validarSoloLetras(this)">


                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="tiene_casa">tiene casa propia:</label>
                                        <select class="form-control" id="tiene_casa" name="tiene_casa">
                                            <option selected>Stock...</option>
                                            <option value="0">Si</option>
                                            <option value="1">No</option>
                                            
                                        </select>
                                    </div>
                                    <!--<div class="form-group col-md-6">
                                        <label for="nomb_promocion">Promocion:</label>
                                        <input type="text" class="form-control" id="nomb_promocion" name=""
                                            oninput="validarSoloLetras(this)">
                                    </div> -->
                                    <div class="form-group col-md-6">
                                        <label for="porcentaje_descuento">Porcentaje Descuento</label>
                                        <input type="text" class="form-control" id="porcentaje_descuento"
                                            name="porcentaje_descuento" oninput="validarSoloNumerosCos(this)">

                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="pais">Pais</label>
                                        <input type="text" class="form-control" id="pais"
                                            oninput="validarSoloLetras(this)">

                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="region">Region:</label>
                                        <input type="text" class="form-control" id="region"
                                            oninput="validarSoloLetras(this)">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="datosFormulario" name="datosFormulario">
                    <div class="container mt-4 text-center">
                        <button type="submit" class="btn btn-primary btn-lg">Predecir</button>
                    </div>
                    <br>
                    <div class="container mt-4 text-center">
                        <h2>Predicion</h2>
                        <input type="text" class="form-control col-6 mx-auto" id="prediccion" name="prediccion">
                    </div>
                    <div class="container mt-4 text-center">
                        <button type="reset" class="btn btn-secondary btn-lg">Limpiar Datos</button>
                    </div>
                </form>

            </div>

        </div>
    </div>





</body>

<br>
<footer>
    <p>&copy; 2024 Proyecto final Inteligencia de Negocios</p>
</footer>

</html>